@font-face {
    font-family: "Duality";
    src: url(../fonts/Duality\(RUS\ BY\ LYAJKA\).otf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #aee7eb ;
    font-family: "Duality";

}

.btn {
	border-radius: 11px;
	border: 0px solid #cccccc;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
    font-weight: normal;
    font-style: normal;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 20px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 13px;
    padding-bottom: 13px;
	text-decoration: none;
    background-color: #ff8c2e;
    font-family: "Duality";
    }
    
    .btn:active{
        transform: scale(0.95);
    }
a{
    font-family: "Duality";
    text-decoration: none;
    color: #ffffff;
}

.noactive{
    background: #b4b2b2;
    color: black;
}