@font-face {
    font-family: "Duality";
    src: url(../fonts/Duality\(RUS\ BY\ LYAJKA\).otf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #aee7eb;
    font-family: "Duality";
    background-image: url(../img/eetk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
}

.container {
    position: relative;
    width: 100%;
    max-width: 1920px; /* Или другое максимальное значение */
    margin: 0 auto;
    min-height: 100vh;
}

.btn {
    border-radius: 11px;
    border: 0px solid #cccccc;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-family: "Duality", 'Arial', Helvetica, sans-serif;
    font-size: 50px;
    padding: 20px 38px;
    text-decoration: none;
    background-color: #ff8c2e;
    text-align: center;
    width: 310px;
    transition: transform 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

a {
    font-family: "Duality";
    text-decoration: none;
    color: #ffffff;
}

.noactive {
    background: #b4b2b2;
    color: black;
}

h1 {
    color: #ffffff;
    font-size: 70px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    display: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 1200px; 
    left: 70%;
    transform: translateX(-50%);
    z-index: 10;
}

.main-snow {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0px;
    z-index: -1;
}

.main-el-l{
    position: absolute;
    top: 70px;
    left: -450px;
    z-index: -2;
}

.main-el-r{
    position: absolute;
    top: 70px;
    left: 1300px;
    z-index: -2;}

    .main-snowmen{
        position: absolute;
        top: 600px;
        left: -100px;
    }